git/.phpunit.cache
/node_modules
/public/build
/public/hot
# /public/storage
# /storage/*.key
# /storage/pail
/vendor

.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
# Allow Swagger documentation
!public/api/documentation.json

# Python virtual environments
venv/
env/

# Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask and project-specific files
flask.log
uploads/

# Dependency directories
node_modules/

# TensorFlow and ML-related files
*.h5
*.pb
*.tflite
*.ckpt
tensorflow/

# FAISS indexes (if saved to disk)
*.index

# Miscellaneous
.DS_Store
*.env
*.log

!storage/images/products/
!storage/images/products/*